.content{
    margin-top: 2%!important;
}

.bs-example {
    font-family: sans-serif;
    position: absolute;
    margin: 100px;
    width: 500px;
    float:left;
}


.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 140px;
}
.typeahead {
    background-color: #FFFFFF;
}

span .twitter-typeahead > span .twitter-typeahead{
    position: absolute!important;
}

.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 322px;
}
.tt-suggestion {
    font-size: 22px;  /* Set suggestion dropdown font size */
    padding: 3px 20px;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}


.page {
    margin: 40px;
}

h1{
    margin: 40px 0 60px 0;
}

.dark-area {
    background-color: #666;
    padding: 40px;
    margin: 0 -40px 20px -40px;
    clear: both;
}

.clearfix:before,.clearfix:after {content: " "; display: table;}
.clearfix:after {clear: both;}
.clearfix {*zoom: 1;}

.brand-names{
    margin-left:10%;
}

.query-class{
    margin-top:13%;
}
.top-3-result{
    margin-top:22%;
    margin-left:10%;
}

.submit-button{
    margin-top:5%;
}

#bs-example .twitter-typeahead{
    max-width:70%;
    display: inline-block;
}
.save-button{
    max-width:100%;
    max-height: 90%;
    margin-left: 12%;
    display: inline-block;
    background-color:#101010cc;
    border-radius:10%;
    color:white;
}


.brands-stats{
margin-top: 10%;
}

.font-weight-light{
    font-weight: 100!important;
    margin-left: 30%;
}

#submitModal{
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


#errorModal{
    position: absolute;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.brand-headings{
    margin-left: 21%;
}

.btn-green{
    background-color: #5fd400;
    color: white;
    align: right;
}

.extend-screen{
    height:100%;
    width:100%;
    overflow:hidden;
}

#centre-screen{
    margin-left:35%;
    margin-top:15%;
}